<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<style>
  table {
    border-collapse: collapse;
  }

  tr td,
  tr th {
    font-size: 20px;
    padding: 5px 20px;
    border: 1px solid #000;
  }

  input {
    width: 200px;
    padding: 5px;
    margin: 5px;
  }

  button {
    margin-left: 85px;
  }
</style>

<body>

  <h2> 我是猪八戒，来自高老庄</h2>
  <table>
    <% data.forEach(item=> { %>
      <tr>
        <td>姓名：<%= item.name %>
        </td>
        <td>性别：<%= item.gender %>
        </td>
        <td>地址：<%= item.address %>
        </td>
      </tr>
      <% }) %>
  </table>

  <hr>

  <table>
    <tr>
      <th>序号</th>
      <th>姓名</th>
      <th>性别</th>
      <th>地址</th>
    </tr>

    <% data.forEach((item,index)=> { %>

      <tr>
        <td>
          <%= index+1 %>
        </td>
        <td>
          <%= item.name %>
        </td>
        <td>
          <%= item.gender %>
        </td>
        <td>
          <%= item.address %>
        </td>
      </tr>

      <% }) %>
  </table>
  <br><br><br>

  <form action="/add_student" method="post">
    <input type="text" name="name" placeholder="姓名" /> <br>
    <input type="text" name="gender" placeholder="性别" /> <br>
    <input type="text" name="address" placeholder="地址" /> <br>
    <button>提交</button>
  </form>

</body>

</html>